.screenshot {
    margin: 0 auto;
    max-width: 1280px;
}

.s-desc {
    color: #CCC;
    font-size: 14px;
    margin-bottom: 40px;
}

.s-shot {
    box-shadow:1px 1px 4px rgba(0,0,0,0.5);
    margin: 0 auto 40px;
    max-height: 720px;
    max-width: 1280px;
    position: relative;

    img {
        display: block;
        max-height: 100%;
        max-width: 100%;
    }
}



.add-shot {
    background: #222;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;

    .field {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;

        span {
            margin-right: 5px;
            vertical-align: middle;
        }

        input {
            display: inline-block;
            height: 30px;
            margin-bottom: 0;
            vertical-align: middle;
        }
    }

    button {
        vertical-align: middle;
    }
}