$primary: #314480;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    background: #333;
    font-family: Lato, Helvetica, Arial, sans-serif;
    height: 100%;
}

h2, h3 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
}
    h3 { font-size: 32px; }

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    padding-top: 60px;

    &:after {
        content: '';
        display: block;
        height: 30px;
    }
}

.j-header {
    background: $primary;
    border-top: 4px solid white;
    box-shadow:0 0 3px rgba(0,0,0,0.3);
    color: white;
    line-height: 50px;
    padding: 0 10px;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 99;

    .logo {
    	float: left;
    	margin-right: 10px;
    	padding: 5px 0;
    }

    h2 {
    	display: inline-block;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

.screenshot {
    margin: 0 auto;
    max-width: 1280px;
}

.s-desc {
    color: #CCC;
    font-size: 14px;
    margin-bottom: 40px;
}

.s-shot {
    box-shadow:1px 1px 4px rgba(0,0,0,0.5);
    margin: 0 auto 40px;
    max-height: 720px;
    max-width: 1280px;
    position: relative;

    img {
        display: block;
        max-height: 100%;
        max-width: 100%;
    }
}

.dot {
    background: $primary;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    display: block;
    height: 18px; width: 18px;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 1;

    &.active {
        background: #2ecc71;

        .dot-drop {
            opacity: 1;
            .comment-add { display: block; }
        }
    }

    &:hover {
        background: #2980b9;

        .dot-drop { opacity: 1; }
    }

    .dot-drop {
        background: #222;
        color: #CCC;
        display: block;
        list-style: none;
        margin: 0; padding: 0;
        min-height: 20px;
        opacity: 0;
        position: absolute;
        top: -9px; left: 28px;
        transition: opacity 0.5s;
        width: 300px;

        &:before {
            content: '';
            width: 0; height: 0;
            border-style: solid;
            border-width: 6px 6px 6px 0;
            border-color: transparent #222 transparent transparent;
            position: absolute;
            top: 10px; left: -6px;
        }

        li {
            font-size: 12px;
            padding: 10px;

            &.comment-add { display: none; }
            &.comments:empty { display: none; }

            .user {
                color: $primary;
                font-weight: bold;
            }
        }

        p {
            margin: 0 0 15px;

            &:only-child { margin: 0; }
        }

        textarea {
            background: transparent;
            border: 1px #333 dashed;
            color: white;
            font-family: inherit;
            font-size: 14px;
            padding: 5px;
            resize: none;
            width: 100%;
        }
    }
}

.j-footer {
    color: #555;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#drop {
    border: 2px dashed currentColor;
    border-radius: 10px;
    color: #AAA;
    margin: 0 auto 50px;
    text-align: center;
    max-width: 480px;
    padding: 50px 10px;
    transition: all 0.3s;

    &:not(:only-child) {
        width: 100%;
    }

    &.hover {
        background: rgba(0,0,0,0.2);
        color: $primary;
    }

    i {
        display: block;
        margin: 0 auto 10px;
    }
}
