@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700);
$primary: #314480;


@import "header";
@import "dot";
@import "shot";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body > .ember-view { height: 100%; }

body {
    background: #333;
    color: white;
    font-family: Lato, Helvetica, Arial, sans-serif;
    height: 100%;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}

h2, h3 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
}
    h3 { font-size: 32px; }

a { 
    color: lighten($primary,20%);
    text-decoration: none; 
}

button {
    background: $primary;
    border: 0 none;
    color: white;
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    padding: 8px 14px;
    text-transform: uppercase;
}

.tabs {
    margin-bottom: 30px;

    a {
        border-radius: 6px;
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;

        &.active {
            background: $primary;
            color: white;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 10px;
}

.page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
    padding-top: 90px;

    &:after {
        content: '';
        display: block;
        height: 30px;
    }
}

.j-footer {
    color: #555;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.add-proj {
    background: #222;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;

    .field {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;

        span {
            margin-right: 5px;
            vertical-align: middle;
        }

        input {
            display: inline-block;
            height: 30px;
            margin-bottom: 0;
            vertical-align: middle;
        }
    }

    button {
        vertical-align: middle;
    }
}

.create-new {
  float: right;
}
