{{dash-board title="project"}}

{{#each model as |project| }}
	<div class="project">
		<h4>
			{{#link-to 'project' project.id }}
				{{ project.title }}
			{{/link-to}}
		</h4>
	</div>
{{else}}
  <p>
    No projects here...
  </p>
{{/each}}

{{outlet}}
