<header class="j-header">
	<img src="http://placehold.it/40x40" class="logo">
	<h2>Julipen</h2>
      {{nav-bar session=session}}
</header>

<div class="page-wrap">
	<div class="container">
		{{outlet}}
	</div>
</div>

<footer class="j-footer">
	&copy; 2016 All Rights Reserved. A project by the Threatsim devs, in honor of Julian. Kinda.
</footer>
